.top {
  width: 1200px;
  height: 300px;
}
#header {
  text-align: center;
  color: #6dcecb;
  font-size:20px;
}
a:hover {
  color:#ee7600;
}
#navbar {
      width: 1196px;
      margin: -10000;
      padding: 0;
      list-style: none;
      text-align: center;
      border: 2pt solid black;
      text-decoration:none;
}
a {
	color: black;
	text-decoration:none;
}
li {
  display: inline-block;
  padding: 20px;
  margin-top: -20px;
  margin-bottom:-20px;
}
#block {
  text-align:center;
  background-color:#6dcecb;
  width: 700px;
  float:right;
  position: relative;
  left:-250px;
  border: 5px solid #6dcecb;
}
#block h3 {
  font-size:25pt;
  color:#ee7600;
}
#elephants {
  width:300px;
  float: right;
  margin-right:30px;
  margin-top:20px;
  text-align:left;
}
.elephants {
  margin-top:40px;
  height:250px;
  width:200px;
}
#cal {
  width:300px;
  float:right;
  margin-right:30px;
  margin-top:20px;
  margin-left:150px;
  text-align:left;
}
.cal {
  height:250px;
  width:200px;  
  float:left;
  margin-top:60px;
  margin-left:85px;
}
#mocad {
  width:300px;
  float:right;
  margin-right:30px;
  margin-top:20px;
  margin-left:80px;
  text-align:left;
}
.mocad {
  height:250px;
  width:200px;
  padding-top:50px;
  padding-left:75px;
  padding-bottom:50px;
}
#block #elephants h3 {
  font-size:20pt;
  color:#ee7600;
}
#block #cal h3 {
  font-size:20pt;
  color:#ee7600;
}
#block #mocad h3 {
  font-size:20pt;
  color:#ee7600;
}
 
 