.top {
  width: 1200px;
  height: 300px;
}
#header {
  text-align: center;
  color: #6dcecb;
}
#navbar {
      width: 1196px;
      margin: -10000;
      padding: 0;
      list-style: none;
      text-align: center;
      border: 2pt solid black;
      text-decoration:none;
}
a {
	color: black;
	text-decoration:none;
}
li {
  display: inline-block;
  padding: 20px;
  margin-top: -20px;
  margin-bottom:-20px;
}
#block {
  text-align:center;
  background-color:#6dcecb;
  width: 700px;
  float:right;
  position: relative;
  left:-250px;
  border: 5px solid #6dcecb;
}
#elephants {
  width:300px;
  float: right;
  margin-right:30px;
  margin-top:30px;
  text-align:left;
}
.elephants {
  height:250px;
  width:200px;
}
#cal {
  width:300px;
  text-align:left;
  margin-left:365px;
}
.cal {
  margin-top:-450px;
  margin-right:350px;
  height:250px;
  width:200px;
  
}
#mocad {
  width:300px;
  float: right;
  margin-right:30px;
  margin-top:50px;
  margin-left:100px;
  margin-bottom:100px;
  text-align:left;
}
.mocad {
  height:250px;
  width:200px;
  float:left;
  margin-top:50px;
  margin-left:70px;
}
 
 